* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    color: #5f2f45;
    background-color: #fabb64;
    width: 1024px;
    text-align: center;
}

h2 {
    color: #a02f40;
}

main {
    width: 1024px;
    height: auto;
    background-color: #fabb64;
    display: flex;
}

section {
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 512px;
    height: auto;


}

img {
    width: 256px;
    height: auto;
    border-radius: 50%;

}

