/* START TEMPLATE SKELETON*/

* {
    box-sizing: border-box;
}
/* FONTS */

h1{
    font-family: 'Abel';
    font-weight: 400;
    font-variant-caps: all-small-caps;
    font-size: 4em;
    color: #5f2f45;
    margin: 0;
}

p {
    font-family: 'Abel';
    font-weight: 400;
    font-variant-caps: all-small-caps;
    font-size: 1.5em;
}

label{
    font-family: 'Abel';
    font-weight: 400;
    font-size: 1.8em;
    color: #f8ddb7;
    font-variant-caps: all-small-caps;
}

/* END FONTS */


html{
    display: flex;
    justify-content: center;
    background-color: #ab2d48;
}


body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color:#fabb64;
    min-height:768px;
    min-width: 1024px;
    gap: 2em;
}

aside{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 3em ;
    align-items: center;
    max-width: 12em;
}

main{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 3em 1rem 0 ;
}

header{
    display: flex;
    height: 150px;
    align-items: center;
}

.logo {
    display: flex;
    max-width: 100%;
    justify-content: center;
}

.logo img{
    width: auto;
    height: 150px;
    display: block;

}

.sidebar-menu {
    background-color: #f86f53;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    border-radius: 15px 15px 0 0;
    padding: 3rem 1rem  3rem;
}
.sidebar-menu a {
    font-family: Abel;
    font-size:  2em;
    text-decoration: none;
    color: #5f2f45 ;
    transition: transform 0.2s ease, color 0.2s ease;
}

.sidebar-menu a:first-child{
    margin-bottom: 2rem;
}

.sidebar-menu a:hover{
    transform: scale(1.2);
    color: #f5ddbc ;
}

/* adjust id to the id of the page */
#XXX{
    color: #f5ddbc;
    text-shadow:#000000 4px 4px 10px;
}

/* END TEMPLATE SKELETON*/
