/* HIER KOMT NEW TABLE CSS */

/*.newTable{*/
/*    display: none;*/
/*}*/

.table-form{
    background-color: #5f2f45;
    border-radius: 15px;
    padding:  1.5rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
}


.newTable-form{
    background-color: #5f2f45;
    border-radius: 15px;
    padding:  1.5rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
}

.newTable-form input {
    height: 2rem;
    width: 75%;
    background-color: #f5ddbc;
    border-style: none ;
    font-family: 'Abel';
    font-size: 1.5rem;
    border-radius: 10px;
    margin: 0 0 0 1rem;
}

.newTable-form button {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: #a02f40;
    color: #f8ddb7;
    font-family: 'Abel';
    font-size: 2em;
    border-radius: 15px;
    border: none;
    padding: 1rem;
    margin: 1rem 0 0 0;
    min-width: 420px;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.newTable-form button:hover {
    transform: scale(1.2);
    color: #f5ddbc ;
}

.error,
.backend-error {
    height: 1.8rem;
    margin: 0 0 0 1rem;
    color: red;
}
